*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
  color: #000;
  font-weight: normal;
}
body{
  background: #6ebd1a;
}
p{
  color: #fff;
  font-weight: normal;
}
h2{
  Color: #ff0000;
}
